* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #0c0d42, #450487);
}

header {
  font-size: 1.5rem;
  color: white;
  padding: 10px 0;
  text-shadow: 0 0 7px #ff4545, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #20b5ff,
    0 0 82px #20b5ff, 0 0 92px #20b5ff, 0 0 102px #20b5ff, 0 0 151px #20b5ff;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.container {
  padding: 20%;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to right, #0c0d42, #450487);
}

.game-board {
  background-size: contain;
  width: 40vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 8rem;
}

.box-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.game-board .box {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 5px solid white;
  height: 23vmin;
  width: 23vmin;
  box-shadow: 0 0 10px 0 rgb(255, 84, 17);
  font-size: 10rem;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #20b5ff,
    0 0 82px #20b5ff, 0 0 92px #20b5ff, 0 0 102px #20b5ff, 0 0 151px #20b5ff;
}
.winning-box {
  background-color: rgb(255, 170, 170);
}

#reset-btn {
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  background: linear-gradient(to right, #8b8dff, #ca95ff);
}

#reset-btn:hover {
  background: linear-gradient(to right, #a64dff, #a4a6ff);
}
/* Sweet Alert CSS */
.swal-overlay {
  background-color: rgba(62, 32, 132, 0.45);
  backdrop-filter: blur(5px);
}
.swal-modal {
  background-color: rgba(154, 189, 255, 0.69);
  border: 3px solid white;
  color: white;
}
.swal-text {
  color: #ffffff;
  font-weight: 800;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.swal-button {
  background-color: #8417f1;
  position: relative;
  right: 85%;
  border: 2px solid #f2f5ff;
}

@media (max-width: 915px) {
  body {
    overflow: auto;
  }
  header {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
  .container {
    padding: 5%;
    flex-direction: column;
  }

  .game-board {
    width: 100vw;
    margin-left: 0;
  }

  .game-board .box {
    height: 30vmin;
    width: 30vmin;
    font-size: 6rem;
  }
  .swal-button {
    background-color: #8417f1;
    border: 2px solid #f2f5ff;
    position: relative;
    right: 42%;
  }
  footer {
    position: static; /* Change the position */
  }
}
@media (min-width: 915px) and (max-width: 1366px) {
  body {
    overflow: auto;
  }
  .container {
    padding: 10%;
    height: 80vh;
    flex-direction: column;
  }

  .game-board {
    margin-top: 40px;
    width: 70vw;
    margin-left: 0;
  }

  .game-board .box {
    height: 25vmin;
    width: 25vmin;
  }
  footer {
    position: static;
  }
}
